download/thermalsetup-0.0.1-alpha.3.exe filter=lfs diff=lfs merge=lfs -text
.netlify/large-media/thermalsetup-0.0.1-alpha.3.exe filter=lfs diff=lfs merge=lfs -text
download/thermalsetup-0.0.1-alpha.2.exe filter=lfs diff=lfs merge=lfs -text
