.vuepress/public/download/windows/thermalsetup-0.0.1.exe filter=lfs diff=lfs merge=lfs -text
.vuepress/public/download/linux/thermal-amd64-0.0.1.deb filter=lfs diff=lfs merge=lfs -text
.vuepress/public/download/linux/thermalsetup-x64-0.0.1.zip filter=lfs diff=lfs merge=lfs -text
